#projects {
  max-width: 1200px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects h2 {
  font-size: 2.5rem;
  text-align: center;
}
.projects--grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}
.projects--grid--card {
  background-color: rgb(4, 14, 13);
  padding: 15px;
  border-radius: 8px;
  border: 3px solid turquoise;
  width: calc(33.333% - 20px);
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  margin: 2%;
}
.projects--grid--card:hover {
  transform: scale(1.5);
  z-index: 10;
}
.projects--grid--card h3 {
  font-size: 1.5rem;
}
.projects--grid--card p {
    font-size: 0.75rem;
  }
.projects--grid--card--image {
  width: 50%;
  height: 50%;
}
@media (max-width: 768px) {
  .projects--grid--card {
    width: 80%;
  }
  .projects--grid--card:hover {
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .projects--grid--card {
    width: 100%;
  }
}
