#projects {
    width: 80%;
    margin-top: 80px;
}
#projects h1 {
    text-align: center;
    margin-bottom: 20px;
}
.projects--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    gap: 20px;
}
.projects--card {
    background-color: rgb(4, 14, 13);
    padding: 15px;
    border-radius: 8px;
    border: 3px solid turquoise;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.projects--card:hover {
   
    transform: scale(1.5); 
    z-index: 10; 
}
.projects--card--image{
    width: 200px;
    height: 200px;
}
@media (max-width: 768px) {
    .projects--card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .projects--card {
        width: 100%;
    }
}
