.quizzical {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  color: white;
  min-height: 100vh;
}
.quizzical__answer--button {
  background-color: #4c5baf;
  color: white; 
  border: none; 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 12px; 
  transition: background-color 0.3s; 
}
.quizzical__submit--button{
  background-color: #992fc4; 
}
.quizzical__selected{
  background-color: #01168b;
}
.quizzical__correct{
  background-color: aqua;
}
.quizzical__incorrect{
  background-color: red;
}
.quizzical__questions {
  background-color: #0c0b0b; 
  border: 1px solid #ddd; 
  padding: 20px; 
  margin: 10px 0; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
