#contact {
  padding: 10px 0;
  width: 100%;
  margin-top: 5%;
  background-color: black;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact h3 {
  text-align: center;
  font-size: 1em;
  margin-bottom: 5%;
}
.contact span {
  font-size: 1em;
}
/* ----------------------------------Sections---------------------------------------- */
.contact--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.contact--nav ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: -25px;
}
.contact--nav button {
  margin-top: 10%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  color: #e0e0e0;
  transition: all 0.3s ease;
}
.contact--nav button:hover {
  font-weight: bold;
}
/* -----------------------------Contact---------------------------------------- */
.contact--numberandemail {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.contact--number {
  margin-bottom: 2%;
  margin-left: 30%;
}
.contact--email__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30%;
}
.contact--email {
  display: flex;
  flex-direction: row;
  background-color: black;
  margin-left: 3%;
  height: 60%;
  border: 2px solid turquoise;
  padding: 3px;
}
.contact--email--text {
  padding: 0;
}
.contact--email--image {
  width: 20px;
}
.contact--email--button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 30px;
  cursor: pointer;
  border: none;
}
.contact--email--button:hover {
  scale: 0.9;
}

/* -----------------------------Social Media---------------------------------------- */
.contact--social__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.contact--social__media--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 33%;
  gap: 15%;
}
.contact--social__media--container a {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.contact--social__media--container a:hover {
  opacity: 1;
  transform: translateY(-2px);
}
.contact--social__media--githubimage {
  width: 130%;
  min-width: 80px;
}
.contact--social__media--linkedinimage {
  width: 80%;
  min-width: 80px;
}
.footer {
  background-color: black;
  width: 100%;
  height: 10%;
  justify-items: center;
  font-size: 0.7em;
}
/* ----------------------------------------------MEdia Queries----------------------------------------------- */
@media (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .contact--nav  {
    display: none;
  }
  .contact--numberandemail {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5%;
  }
  .contact--numberandemail h3 {
    display: none;
  }
  .contact--number {
    margin-bottom: 0%;
    margin-left: 0%;
  }
  .contact--email__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0%;
  }
  .contact--social__media--githubimage {
    width: 100%;
    min-width: 50px;
    margin-right: 20px;
  }
  .contact--social__media--linkedinimage {
    width: 60%;
    min-width: 50px;
    margin-left: 20px;
  }
  .footer{
    margin-top: 5%;
    text-align: center;
  }
}
