#description{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.description--portfolio{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 20%;
}
.description--text{
    font-size: 150%;
    text-align: justify;
}
.description--portfolio--image{
    width: 30%;
    height: 30%;
    margin-left: 100px;
    margin-right: 100px;
}
.description--button{
    width: 150px;
    background-color: transparent;
    color:turquoise;
    border-color: turquoise;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}
.description--button:hover{
    background-color: rgba(64, 224, 208, 0.8); 
    color: white;
}