#header{
    max-width: 1200px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5%;

    transition: transform 1.1s ease; 
}
#header.hidden {
    transform: translateY(-100%); 
    display: none;
}
.header--image{
    width: 25%;
    border-radius:100%;
}
.header--title{
    text-align: justify;  
}
.header--title--text{
    font-size: 3.5em;    
}
.header--subtitle{
    font-size: 2em;   
}
@media (max-width:768px){
    #header{
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }
    .header--image{
        width: 50%;
    }
    #header.hidden {
        transform: translateY(0); 
        display: flex;
    }
}
@media (max-width:480px){
    #header {
      margin-left: 5%; 
      margin-right:5%;
    }
  }
