.App {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center; 
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,0,52,1) 100%);
  color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; 
  line-height: 2.5em; 
}
@media (max-width:768px){
  .App{
    font-size: 12px;
  }
}
@media (max-width:768px){
  .App{
    font-size: 10px;
  }
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(31,0,52,1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

